<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gunschu.jitsi_meet">

    <application>
        <activity
            android:name=".JitsiMeetPluginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize"></activity>
    </application>
</manifest>
