<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ekodemy.eko_jitsi">
    <application>
        <activity
            android:name=".EkoJitsiPluginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize">
        </activity>
    </application>
</manifest>
